@import url(reset.css);

nav {
    display: flex;
    justify-content: center;
    height: 100vh;
    gap: 25px;
}

.drop-down,
.another-drop-down,
.again-another-drop-down {
    height: fit-content;
    position: relative;
    top: 20px;
}

.drop-down-title {
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(105, 124, 247);
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.drop-down-title.hovered,
.drop-down-title.focused {
    color: rgb(35, 35, 35);
}

.drop-down-menu,
.another-drop-down-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .20rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.drop-down-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.drop-down-menu > li {
    font-weight: 500;
    padding: .75rem;
    width: 158px;
    cursor: pointer;
    border-radius: .25rem;
    transition: background-color 150ms ease-in-out;
}

.drop-down-menu > li:hover {
    background-color: rgb(105, 124, 247);
}

.drop-down-title.focused + .drop-down-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.another-drop-down-button {
    border: none;
    border-radius: .25rem;
    padding: 5px;
    background-color: none;
    cursor: pointer;
    transition: fill 150ms ease-in-out, transform 0.3s ease-in-out;
}

.another-drop-down-button.focused {
    transform: rotate(90deg);
}

.another-drop-down-button.hovered,
.another-drop-down-button.focused {
    fill: rgb(105, 124, 247);
}

.another-drop-down-menu {
    display: flex;
    text-align: center;
    padding: 0;
    width: 500px;
}

.another-drop-down-menu > li {
    font-weight: 500;
    padding: .75rem;
    cursor: pointer;
    border-radius: .25rem;
}

.another-drop-down-menu > li:hover {
    background-color: rgb(105, 124, 247);
}

.another-drop-down-button.focused + .another-drop-down-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.image-carousel-button {
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    height: 33px;
    color: rgb(105, 124, 247);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    transition: transform 150ms ease-in-out, color 150ms ease-in-out;
}

.image-carousel-button.hovered,
.image-carousel-button.focused {
    color: rgb(105, 124, 247);
    transform: scale(1.1,1.1);
}

.image-carousel {
    position: absolute;
    top: 250px;
    left: -150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    width: 300px;
    height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    transition: transform 400ms ease-in-out;
}

.image-carousel-button.focused + .image-carousel {
    pointer-events: auto;
    opacity: 1;
    transform: scale(2, 2);
}

.carousel-button {
    cursor: pointer;
    z-index: 2;
}

.image-gallery {
    position: absolute;
    left: -1px;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.image-gallery img {
    display: none;
    width: 100%;
    height: 100%;
}

.navigation-dots {
    position: absolute;
    top: 75%;
    left: 50%;
    cursor: pointer;
    z-index: 2;
}
