@import url(reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: rgb(11, 25, 118);
    border-radius: 10px;
    box-shadow: 1px 1px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 26px 0px rgba(0,0,0,0.75);
}