@import url(reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.drop-down {
    position: relative;
}

.drop-down-title {
    background-color: rgb(11, 25, 118);
    border: none;
    cursor: pointer
}

.drop-down-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.drop-down > .drop-down-title:hover + .drop-down-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}